<!DOCTYPE html>
<html class="no-js admin responsive-320" lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="cleartype" content="on">
   
    <title>全部商品    - 华莱士炸鸡汉堡</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="http://kdt-static.qiniucdn.com/v2/build_css/stylesheets/wap/base_2ced031129.css" onerror="_cdnFallback(this)">    <link rel="stylesheet" href="http://kdt-static.qiniucdn.com/v2/build_css/stylesheets/wap/projects/showcase_admin_36355aae15.css" onerror="_cdnFallback(this)">   
         </head>

<body class=" " style="padding-bottom: 50px;">

    
    <div class="container ">
        <div class="header">
            <div class="headerbar">
            <div class="headerbar-wrap clearfix">
                      
                                            </div>
        </div>
                </div>        <div class="content " style="min-height: 576px;">
        <div class="content-body">
    
                    
        <!-- 标题 -->
<div>
    <div class="custom-title  text-left">
        <h2 class="title">
            全部商品                    </h2>
                <p class="sub_title"></p>
            </div>
</div>
                    
        
        
        <ul class="js-goods-list sc-goods-list clearfix list size-3" data-size="3">
        
    
    <!-- 商品区域 -->
    <!-- 展现类型判断 -->
    
    <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/dgs5l35e?spm=fake803178" class="js-goods link clearfix" target="_blank" data-goods-id="9937870" title="牛牛牛卷">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/12/FrvfFRWfOBwxibCThmj4z3hFwpBp.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FrvfFRWfOBwxibCThmj4z3hFwpBp.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">牛牛牛卷</p>
                    <p class="goods-price"><em>￥10.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="dgs5l35e" data-postage="0" data-buyway="1" data-id="9937870" data-title="牛牛牛卷" data-price="10.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/18uq360cb" class="js-goods link clearfix" target="_blank" data-goods-id="9933317" title="鳕鱼堡+上校鸡块+香辣鸡翅">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FtvEyKV5PcFXijpcr29VW6n5OvIz.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FtvEyKV5PcFXijpcr29VW6n5OvIz.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">鳕鱼堡+上校鸡块+香辣鸡翅</p>
                    <p class="goods-price"><em>￥18.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="18uq360cb" data-postage="0" data-buyway="1" data-id="9933317" data-title="鳕鱼堡+上校鸡块+香辣鸡翅" data-price="18.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/c4vfxjch" class="js-goods link clearfix" target="_blank" data-goods-id="9932992" title="牛肉汉堡+田园鲜疏汉堡+可乐">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FgZZZqfoJ2mtm76M3JEN8Nwo8rBk.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FgZZZqfoJ2mtm76M3JEN8Nwo8rBk.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">牛肉汉堡+田园鲜疏汉堡+可乐</p>
                    <p class="goods-price"><em>￥14.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="c4vfxjch" data-postage="0" data-buyway="1" data-id="9932992" data-title="牛肉汉堡+田园鲜疏汉堡+可乐" data-price="14.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/11wrxwmtn" class="js-goods link clearfix" target="_blank" data-goods-id="9932548" title="田园鲜蔬汉堡+上校鸡块+可乐">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FjcIDaLN6QLbY0VrJWp_XYzc82dT.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FjcIDaLN6QLbY0VrJWp_XYzc82dT.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">田园鲜蔬汉堡+上校鸡块+可乐</p>
                    <p class="goods-price"><em>￥12.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="11wrxwmtn" data-postage="0" data-buyway="1" data-id="9932548" data-title="田园鲜蔬汉堡+上校鸡块+可乐" data-price="12.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/doeo4jf1" class="js-goods link clearfix" target="_blank" data-goods-id="9932335" title="双层培根红肠堡+香辣鸡翅一对+可乐">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FkA6p3Qz50aQigc1-2D3c3DJkp0O.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FkA6p3Qz50aQigc1-2D3c3DJkp0O.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">双层培根红肠堡+香辣鸡翅一对+可乐</p>
                    <p class="goods-price"><em>￥15.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="doeo4jf1" data-postage="0" data-buyway="1" data-id="9932335" data-title="双层培根红肠堡+香辣鸡翅一对+可乐" data-price="15.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/19ducdsvx" class="js-goods link clearfix" target="_blank" data-goods-id="9932001" title="BBQ烤鸡+紫薯豌豆派+可乐">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FmVCP4H7wLEts1rK6YqoF1ZcNLFa.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FmVCP4H7wLEts1rK6YqoF1ZcNLFa.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">BBQ烤鸡+紫薯豌豆派+可乐</p>
                    <p class="goods-price"><em>￥22.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="19ducdsvx" data-postage="0" data-buyway="1" data-id="9932001" data-title="BBQ烤鸡+紫薯豌豆派+可乐" data-price="22.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/jnknohil" class="js-goods link clearfix" target="_blank" data-goods-id="9931590" title="香辣鸡腿汉堡+墨西哥鸡肉卷+可乐">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FsYO8iqxk0gQGlQ8f3enjA3KUr9Z.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FsYO8iqxk0gQGlQ8f3enjA3KUr9Z.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">香辣鸡腿汉堡+墨西哥鸡肉卷+可乐</p>
                    <p class="goods-price"><em>￥16.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="jnknohil" data-postage="0" data-buyway="1" data-id="9931590" data-title="香辣鸡腿汉堡+墨西哥鸡肉卷+可乐" data-price="16.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/1gt6z8qgr" class="js-goods link clearfix" target="_blank" data-goods-id="9930968" title="香辣鸡翅">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FnfUcgNlTNgKjaaOPCAbC2jRYujZ.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FnfUcgNlTNgKjaaOPCAbC2jRYujZ.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">香辣鸡翅</p>
                    <p class="goods-price"><em>￥7.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="1gt6z8qgr" data-postage="0" data-buyway="1" data-id="9930968" data-title="香辣鸡翅" data-price="7.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/1cks7z47z" class="js-goods link clearfix" target="_blank" data-goods-id="9930477" title="脆皮炸鸡">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FuhVo0p36Nw4_JFLAdZdwwnSzg90.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FuhVo0p36Nw4_JFLAdZdwwnSzg90.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">脆皮炸鸡</p>
                    <p class="goods-price"><em>￥7.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="1cks7z47z" data-postage="0" data-buyway="1" data-id="9930477" data-title="脆皮炸鸡" data-price="7.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/b8ncib10" class="js-goods link clearfix" target="_blank" data-goods-id="9930216" title="香辣骨肉串">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FiqdsdPmCRaeQJUMm2fwFzr6aRhJ.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FiqdsdPmCRaeQJUMm2fwFzr6aRhJ.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">香辣骨肉串</p>
                    <p class="goods-price"><em>￥3.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="b8ncib10" data-postage="0" data-buyway="1" data-id="9930216" data-title="香辣骨肉串" data-price="3.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/1efw7lj3x" class="js-goods link clearfix" target="_blank" data-goods-id="9929952" title="鸡米花">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FutSbHGmYc0xoAr2BC99MTByX423.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FutSbHGmYc0xoAr2BC99MTByX423.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">鸡米花</p>
                    <p class="goods-price"><em>￥7.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="1efw7lj3x" data-postage="0" data-buyway="1" data-id="9929952" data-title="鸡米花" data-price="7.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/kyv7aavg" class="js-goods link clearfix" target="_blank" data-goods-id="9929640" title="辣子鸡块">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FlruAxbusd0tADg-OvnQ6FRAOnUx.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FlruAxbusd0tADg-OvnQ6FRAOnUx.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">辣子鸡块</p>
                    <p class="goods-price"><em>￥8.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="kyv7aavg" data-postage="0" data-buyway="1" data-id="9929640" data-title="辣子鸡块" data-price="8.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/1eemtw13x" class="js-goods link clearfix" target="_blank" data-goods-id="9929336" title="上校鸡块">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FiIb6eFAuMp7XzEXMAg2JPLvX3iu.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FiIb6eFAuMp7XzEXMAg2JPLvX3iu.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">上校鸡块</p>
                    <p class="goods-price"><em>￥7.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="1eemtw13x" data-postage="0" data-buyway="1" data-id="9929336" data-title="上校鸡块" data-price="7.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/impnl2zq" class="js-goods link clearfix" target="_blank" data-goods-id="9929119" title="紫薯豌豆派">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FlWLqqlLBJo39jIrP7AG_EmYLaJ0.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FlWLqqlLBJo39jIrP7AG_EmYLaJ0.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">紫薯豌豆派</p>
                    <p class="goods-price"><em>￥5.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="impnl2zq" data-postage="0" data-buyway="1" data-id="9929119" data-title="紫薯豌豆派" data-price="5.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/19b2rzszn" class="js-goods link clearfix" target="_blank" data-goods-id="9928438" title="墨西哥鸡肉卷">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/12/FqSM4p4UyIwr5R9OYW9Fwrg5WUVT.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FqSM4p4UyIwr5R9OYW9Fwrg5WUVT.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">墨西哥鸡肉卷</p>
                    <p class="goods-price"><em>￥9.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="19b2rzszn" data-postage="0" data-buyway="1" data-id="9928438" data-title="墨西哥鸡肉卷" data-price="9.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/1acks7p9d" class="js-goods link clearfix" target="_blank" data-goods-id="9928154" title="BBQ烤鸡">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/12/FqbvF405rK0odqIxTj8ECZlAS24Y.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FqbvF405rK0odqIxTj8ECZlAS24Y.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">BBQ烤鸡</p>
                    <p class="goods-price"><em>￥18.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="1acks7p9d" data-postage="0" data-buyway="1" data-id="9928154" data-title="BBQ烤鸡" data-price="18.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/g5g9el3" class="js-goods link clearfix" target="_blank" data-goods-id="9927851" title="双层培根红肠堡">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/12/FqyWIsEe5ULltEdpTsVfLREsHAhi.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FqyWIsEe5ULltEdpTsVfLREsHAhi.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">双层培根红肠堡</p>
                    <p class="goods-price"><em>￥10.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="g5g9el3" data-postage="0" data-buyway="1" data-id="9927851" data-title="双层培根红肠堡" data-price="10.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
                <li class="js-goods-card goods-card goods-list normal">
            <a href="http://wap.koudaitong.com/v2/goods/68gffzxx" class="js-goods link clearfix" target="_blank" data-goods-id="9927253" title="鳕鱼堡">
               <div class="photo-block" style="background-color: rgb(255, 255, 255);">
                   <img class="goods-photo js-goods-lazy" data-src="http://imgqn.koudaitong.com/upload_files/2015/03/12/FgBwJkWBuffeMxybDCucQTztM0jT.jpg!140x140+2x.jpg" src="./全部商品 - 华莱士炸鸡汉堡_files/FgBwJkWBuffeMxybDCucQTztM0jT.jpg!140x140+2x.jpg" style="display: block;">
               </div>
               <div class="info">
                    <p class="goods-title">鳕鱼堡</p>
                    <p class="goods-price"><em>￥9.00</em></p>
                                        <div class="goods-buy btn1"></div>
                    <div class="js-goods-buy buy-response" data-alias="68gffzxx" data-postage="0" data-buyway="1" data-id="9927253" data-title="鳕鱼堡" data-price="9.00" data-isvirtual=""></div>
                                   </div>
            </a>
        </li>
    
    </ul>



    
    
            <div class="custom-paginations-container">
            <div class="custom-paginations clearfix">

                                    <a href="javascript: void 0;" class="custom-paginations-prev disabled">上一页</a>
                
                                    <a href="http://wap.koudaitong.com/v2/showcase/goods/allgoods?kdt_id=803178&p=2&t=0" class="custom-paginations-next js-no-follow">下一页</a>
                
            </div>
        </div>
        </div>        	
    <div class="content-sidebar">
	    <a href="http://wap.koudaitong.com/v2/showcase/homepage?kdt_id=803178" class="link">
	                <div class="sidebar-section shop-card">
	                    <div class="table-cell">
	                        <img src="./全部商品 - 华莱士炸鸡汉堡_files/Fsm23pJaMB-VvmrtOcwwv21VcIPc.jpg!60x60+2x.jpg" width="60" height="60" class="shop-img" alt="公众号头像">
	                    </div>
	                    <div class="table-cell">
	                        <p class="shop-name">
	                        		                        		华莱士炸鸡汉堡	                        		                        </p>
	                    </div>
	                </div>
	            </a>	    	        	        </div>
    
</script>        <div class="js-navmenu js-footer-auto-ele shop-nav nav-menu nav-menu-2 has-menu-5" style="background-color: #02813e;">
                <ul class="clearfix">
                                            <li>
                    <a href="http://wap.koudaitong.com/v2/home/13q1v5ag6" style="
                                                        background-image: url(http://imgqn.koudaitong.com/upload_files/2015/01/27/FgoMDhfG936BFs3_HI83rWv7YgPb.jpg);
                                                                                    background-size: 50px 50px
                                                    "></a>
                </li>
                                            <li>
                    <a href="http://wap.koudaitong.com/v2/usercenter/136i551w3" style="
                                                        background-image: url(http://imgqn.koudaitong.com/upload_files/2015/01/27/FloXBZIB_ZdrgWQ9RbL9_KII7vRp.jpg);
                                                                                    background-size: 50px 50px
                                                    "></a>
                </li>
                                            <li>
                    <a href="http://wap.koudaitong.com/v2/usercenter/136i551w3" style="
                                                        background-image: url(http://imgqn.koudaitong.com/upload_files/2015/01/29/FipGucD7DSfIDx8A-5MZhNShqCj6.jpg);
                                                                                    background-size: 50px 50px
                                                    "></a>
                </li>
                                            <li>
                    <a href="tel://4007366517" style="
                                                        background-image: url(http://imgqn.koudaitong.com/upload_files/2015/01/27/FvYYLvzwv0CJGxbWSM-jdF2NcgxB.jpg);
                                                                                    background-size: 50px 50px
                                                    "></a>
                </li>
                                            <li>
                    <a href="http://wap.koudaitong.com/v2/feature/oma5aeh1" style="
                                                        background-image: url(http://imgqn.koudaitong.com/upload_files/2015/01/28/Fmy18MTGsvgvsYbxrRvl47g6Vbzg.jpg);
                                                                                    background-size: 50px 50px
                                                    "></a>
                </li>
                    </ul>
    </div>    </div>        <div class="js-footer" style="min-height: 1px;">
               
        
            <div class="footer">
            <div class="copyright">
                                    <div class="ft-links">
                        <a href="http://wap.koudaitong.com/v2/showcase/homepage?kdt_id=803178" target="_blank">店铺主页</a>
                        <a href="http://wap.koudaitong.com/v2/showcase/usercenter?kdt_id=803178" target="_blank">会员中心</a>
                                                                    </div>

            </div>
        </div>
    </div>    </div>
 
<div class="search-container hide"><form class="search-form" action="http://wap.koudaitong.com/v2/search" method="GET"><input type="search" class="search-input" placeholder="搜索本店所有商品" name="q" value=""><input type="hidden" name="kdt_id" value="803178"><a class="js-search-cancel search-cancel" href="javascript:;">取消</a><span class="search-icon"></span><span class="close-icon hide"></span></form><div class="history-wrap center"><ul class="history-list"></ul><a class="tag tag-clear c-gray-darker hide" href="javascript:;">清除历史搜索</a></div></div><div id="right-icon" class="js-right-icon no-text">
	<div class="js-right-icon-container right-icon-container clearfix" style="width: 50px;"><a id="global-cart" href="http://wap.koudaitong.com/v2/trade/cart?kdt_id=803178" class="icon hide" style="background-image: url(http://kdt-static.qiniucdn.com//v2/image/setting/shopping-cart/2x/s2.png);">
    <p class="icon-img"></p>
    <p class="icon-txt">购物车</p>
</a><a id="global-wish" href="http://trade.koudaitong.com/wxpay/wish?kdt_id=803178" class="icon">
    <p class="icon-img"></p>
    <p class="icon-txt">心愿单</p>
</a>
		<a class="js-show-more-btn icon show-more-btn hide"></a>
	</div>
</div></body></html>