<html class="no-js " lang="zh-CN">
	<head>
	    <meta charset="utf-8">
	    <meta name="keywords" content="移动电商服务平台">
	    <meta name="HandheldFriendly" content="True">
	    <meta name="MobileOptimized" content="320">
	    <meta name="format-detection" content="telephone=no">
	    <meta http-equiv="cleartype" content="on">
	    <title>所有订单</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	    <link rel="stylesheet" href="http://kdt-static.qiniucdn.com/v2/build_css/stylesheets/wap/base_929451b805.css" onerror="_cdnFallback(this)">
		<link rel="stylesheet" href="http://kdt-static.qiniucdn.com/v2/build_css/stylesheets/wap/projects/uc/order_list_bb84446c0d.css" onerror="_cdnFallback(this)">
	</head>
	<body class=" ">
		<div class="container ">
	        <div class="content" style="min-height: 308px;">
	        	<div id="order-list-container">
					<div class="js-list b-list">
						<li class="block block-order animated">
							<div class="header">
    							<span class="font-size-12">订单号：E20150624164843067399623</span>
    							<a class="js-cancel-order pull-right font-size-12 c-blue" href="javascript:;">取消</a>
							</div>
							<hr class="margin-0 left-10">
							<div class="block block-list block-border-top-none block-border-bottom-none">
    							<div class="block-item name-card name-card-3col clearfix">
							        <a href="http://trade.koudaitong.com/wxpay/pay?order_no=E20150624164843067399623&amp;kdt_id=803178" class="thumb">
							            <img src="http://imgqn.koudaitong.com/upload_files/2015/03/13/FtvEyKV5PcFXijpcr29VW6n5OvIz.jpg!100x100.jpg">
							        </a>
							        <div class="detail">
							            <a href="http://trade.koudaitong.com/wxpay/pay?order_no=E20150624164843067399623&amp;kdt_id=803178"><h3>鳕鱼堡+上校鸡块（5块）+香辣鸡翅（2块）</h3></a>
							        </div>
							        <div class="right-col">
							            <div class="price">￥<span>18.00</span></div>
							            <div class="num">
							                ×<span class="num-txt">1</span>
							            </div>
							        </div>
							    </div>
							</div>
							<hr class="margin-0 left-10">
							<div class="bottom">
							    总价：<span class="c-orange">￥18.00</span>
							    <div class="opt-btn">
							        <a class="btn btn-orange btn-in-order-list" href="http://trade.koudaitong.com/wxpay/pay?order_no=E20150624164843067399623&amp;kdt_id=803178">付款</a>
							    </div>
							</div>
						</li>
					</div>
				</div>
    		</div>
            <div class="footer">
            	<div class="copyright">
                	<div class="ft-links">
                        <a href="http://wap.koudaitong.com/v2/showcase/homepage?kdt_id=803178" target="_blank">店铺主页</a>
                        <a href="http://wap.koudaitong.com/v2/showcase/usercenter?kdt_id=803178" target="_blank">会员中心</a>
                    </div>
                    <div class="ft-copyright">
    					<a href="http://m.youzan.com" target="_blank">有赞微商城提供技术支持</a>
					</div>
            	</div>
        	</div>
    	</div>
	    <script src="http://kdt-static.qiniucdn.com/v2/build/wap/common_452e0e827f.js" onerror="_cdnFallback(this)"></script>
	    <script src="http://kdt-static.qiniucdn.com/v2/build/wap/base_3e0bc67bba.js" onerror="_cdnFallback(this)"></script>
	    <script src="http://kdt-static.qiniucdn.com/v2/vendor/u_b.js" onerror="_cdnFallback(this)"></script>
		<script src="http://kdt-static.qiniucdn.com/v2/build/wap/uc/order_list_dffa8a288b.js" onerror="_cdnFallback(this)"></script>    
	</body>
</html>